In [1]:
import numpy as np
import pandas as pd
import utm
import datetime
import matplotlib.pyplot as plt

# Original Data

In [2]:
# Read in the original dataset
data = pd.read_csv("dataset/crimedata_csv_all_years.csv")
data = data[data['TYPE'] == "Theft of Bicycle"]
data = data.sort_values(by="YEAR", axis=0)
data.reset_index(inplace=True, drop=True)

# Retrun filtered thefts by bicycle, sorted by year
data.to_csv("dataset/raw_bike_data.csv", index=False, date_format='%Y-%m-%d %H:%M:%S')
data

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,X,Y
0,Theft of Bicycle,2003,8,28,22,0,29XX ASH ST,Fairview,491442.679015,5.456291e+06
1,Theft of Bicycle,2003,10,3,16,28,20XX WALL ST,Grandview-Woodland,495505.932258,5.459267e+06
2,Theft of Bicycle,2003,8,20,20,30,20XX YORK AVE,Kitsilano,488974.181520,5.457668e+06
3,Theft of Bicycle,2003,6,17,8,0,7XX TEMPLETON DR,Grandview-Woodland,495645.272537,5.458368e+06
4,Theft of Bicycle,2003,8,7,8,0,7XX TEMPLETON DR,Grandview-Woodland,495645.272537,5.458368e+06
...,...,...,...,...,...,...,...,...,...,...
30974,Theft of Bicycle,2019,8,8,12,0,7XX W GEORGIA ST,Central Business District,491407.744286,5.458872e+06
30975,Theft of Bicycle,2019,3,25,17,0,34XX TERRA VITA PL,Hastings-Sunrise,497820.174655,5.458189e+06
30976,Theft of Bicycle,2019,7,30,16,26,57XX FRASER ST,Sunset,493412.152473,5.453336e+06
30977,Theft of Bicycle,2019,10,10,0,0,11XX ODLUM DR,Grandview-Woodland,494483.821861,5.458006e+06
30978,Theft of Bicycle,2019,8,22,14,30,62XX KILLARNEY ST,Killarney,496685.317174,5.452640e+06

In [3]:
# https://stackoverflow.com/questions/49890492/convert-utm-to-lat-long-in-csv-using-pandas
def rule(row):
    lat, lon = utm.to_latlon(row["X"], row["Y"], 10, 'U')
    
    return pd.Series({"LAT": lat, "LON": lon})

data = data.merge(data.apply(rule, axis=1), left_index=True, right_index=True)

# Convert X, Y to Lat, Lon

In [4]:
data.drop(columns=['X', 'Y'], inplace=True)
data

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,LAT,LON
0,Theft of Bicycle,2003,8,28,22,0,29XX ASH ST,Fairview,49.259327,-123.117607
1,Theft of Bicycle,2003,10,3,16,28,20XX WALL ST,Grandview-Woodland,49.286140,-123.061797
2,Theft of Bicycle,2003,8,20,20,30,20XX YORK AVE,Kitsilano,49.271674,-123.151570
3,Theft of Bicycle,2003,6,17,8,0,7XX TEMPLETON DR,Grandview-Woodland,49.278049,-123.059872
4,Theft of Bicycle,2003,8,7,8,0,7XX TEMPLETON DR,Grandview-Woodland,49.278049,-123.059872
...,...,...,...,...,...,...,...,...,...,...
30974,Theft of Bicycle,2019,8,8,12,0,7XX W GEORGIA ST,Central Business District,49.282539,-123.118142
30975,Theft of Bicycle,2019,3,25,17,0,34XX TERRA VITA PL,Hastings-Sunrise,49.276457,-123.029969
30976,Theft of Bicycle,2019,7,30,16,26,57XX FRASER ST,Sunset,49.232765,-123.090491
30977,Theft of Bicycle,2019,10,10,0,0,11XX ODLUM DR,Grandview-Woodland,49.274789,-123.075835
30978,Theft of Bicycle,2019,8,22,14,30,62XX KILLARNEY ST,Killarney,49.226530,-123.045525

# Create DATETIME

In [5]:
# https://stackoverflow.com/questions/19350806/how-to-convert-columns-into-one-datetime-column-in-pandas
dt = pd.to_datetime(data[["YEAR", "MONTH", "DAY", "HOUR", "MINUTE"]])
dt = dt.rename("DATETIME")

In [6]:
data = data.merge(dt, left_index=True, right_index=True)
data = data.sort_values(by="DATETIME")
data.reset_index(inplace=True, drop=True)
data

,TYPE,YEAR,MONTH,DAY,HOUR,MINUTE,HUNDRED_BLOCK,NEIGHBOURHOOD,LAT,LON,DATETIME
0,Theft of Bicycle,2003,1,1,0,0,30XX W 4TH AVE,Kitsilano,49.268399,-123.172906,2003-01-01 00:00:00
1,Theft of Bicycle,2003,1,1,0,0,6X KEEFER PL,Central Business District,49.279617,-123.106816,2003-01-01 00:00:00
2,Theft of Bicycle,2003,1,1,0,5,11XX HORNBY ST,Central Business District,49.278700,-123.127790,2003-01-01 00:05:00
3,Theft of Bicycle,2003,1,1,13,30,X NK_LOC ST,NaN,49.281843,-123.099582,2003-01-01 13:30:00
4,Theft of Bicycle,2003,1,2,1,0,10XX JERVIS ST,West End,49.284857,-123.131873,2003-01-02 01:00:00
...,...,...,...,...,...,...,...,...,...,...,...
30974,Theft of Bicycle,2019,10,22,13,45,20XX W 4TH AVE,Kitsilano,49.268138,-123.151383,2019-10-22 13:45:00
30975,Theft of Bicycle,2019,10,22,18,15,27XX W BROADWAY AVE,Kitsilano,49.264101,-123.167048,2019-10-22 18:15:00
30976,Theft of Bicycle,2019,10,22,20,34,63XX YEW ST,Kerrisdale,49.228779,-123.158805,2019-10-22 20:34:00
30977,Theft of Bicycle,2019,10,23,22,48,39XX W 38TH AVE,Dunbar-Southlands,49.237564,-123.191084,2019-10-23 22:48:00
30978,Theft of Bicycle,2019,10,24,17,15,10XX W GEORGIA ST,West End,49.284419,-123.121202,2019-10-24 17:15:00

In [7]:
data.to_csv("dataset/clean_bike_data.csv", index=False, date_format='%Y-%m-%d %H:%M:%S')
data["DATETIME"]

0       2003-01-01 00:00:00
1       2003-01-01 00:00:00
2       2003-01-01 00:05:00
3       2003-01-01 13:30:00
4       2003-01-02 01:00:00
                ...
30974   2019-10-22 13:45:00
30975   2019-10-22 18:15:00
30976   2019-10-22 20:34:00
30977   2019-10-23 22:48:00
30978   2019-10-24 17:15:00
Name: DATETIME, Length: 30979, dtype: datetime64[ns]